node_modules
dist
coverage
temp
.idea
.env
.ipfs
data
csv
.ipynb_checkpoints
nft_indexer.yaml
nft_metadata_reader.yaml
nft_events_reader.yaml
.vscode
.nvmrc
.envrc
.npmrc

# Terraform
**/.terraform*
**/terraform/modules/

# (Golang) Metadata Reader config
metadata-reader/config/config.yaml
